<div class="wrapper">
    <div class="app-section client-section py-5 my-5">
        <div class="card shadow">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-2 py-2">
                    <h5 class="heading mb-0">Client Token Manager</h5>
                    <a href="/" class="text-info">
                        Back
                    </a>
                </div>
                <form id="client-form">
                    <div class="form-group">
                        <input type="text" placeholder="www.example.com" name="domain" class="form-control rounded"
                            id="client-domain" required />
                    </div>
                    <div class="text-center">
                        <button class="btn btn-info rounded" type="submit">
                            Generate Token
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>